@{
    @using Cooperchip.Demo.Domain.Entities;
    @model IEnumerable<EstadoPaciente>
    ViewData["Title"] = "Lista de Estado de Paciente";
}

<partial name="PartialViews/_cabecalho" />

<div class="container">
    <div class="panel-group">
        <div class="panel panel-controls">

            <div class="panel panel-success">
                <div class="panel panel-heading">
                    <h3>Lista de Estado do Paciente</h3>
                </div>
            </div>

            <div class="panel panel-body">

                <p>
                    <a class="btn btn-primary" asp-controller="EstadoPaciente" asp-action="Create">Adicionar</a>
                </p>

                @if (Model.Count() > 0)
                {
                    <table class="table table-striped">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Id</th>
                                <th scope="col">Descrição</th>
                                <th scope="col">Ação</th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td scope="row">@item.Id</td>
                                    <td>@item.Descricao</td>
                                    <td>
                                        <a class="btn btn-primary" asp-controller="EstadoPaciente" asp-action="Details" asp-route-id="@item.Id">Detalhes</a>
                                        <a class="btn btn-info" asp-controller="EstadoPaciente" asp-action="Edit" asp-route-id="@item.Id">Editar</a>
                                        <a class="btn btn-danger" asp-controller="EstadoPaciente" asp-action="Delete" asp-route-id="@item.Id">Excluir</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                else
                {
                    <span>Nenhum Item</span>
                }

            </div>

            @* <div class="panel panel-info">
                <div class="panel panel-footer">
                    <a asp-controller="EstadoPaciente" asp-action="Index" class="btn btn-default">Voltar para Lista</a>
                </div>
            </div> *@
        </div>
    </div>
</div>